@model RestauranteApp.Models.Prato

@{
    ViewBag.Title = "Edit";
}

<h2>CADASTRO DE PRATO (Alterar)</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Prato</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PratoId)

        <fieldset class="custom-border">
            <legend class="custom-border">Dados</legend>

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.RestauranteId, "Restaurante", htmlAttributes: new { @class = "control-label" })
                </div>

                <div class="form-group">
                    @Html.DropDownList("RestauranteId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RestauranteId, "", new { @class = "text-danger" })
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Preco, htmlAttributes: new { @class = "control-label" })
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.Preco, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })
                </div>


                <div class="form-group">
                    <div class="col-md-10">

                        <button type="button" value="Cancelar" class="btn btn-danger"
                                onclick="location.href='@Url.Action("Index")';return false;">
                            <span class="glyphicon glyphicon-repeat"></span>
                            Cancelar
                        </button>
                        <button type="submit" value="Create" class="btn btn-success">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            Salvar
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
}


